<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Libros impresos libres sobre software libre">
    <meta name="keywords" content="cultura libre,formación,impreso,libre,libros,software libre">
    <title>{% block title %}Libremanuals{% endblock %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap-4.1.1.css" type="text/css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom.css" type="text/css">
    {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="Fuente de entradas Atom completa de {{ SITENAME }}">
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="Fuente completa de entradas RSS de {{ SITENAME }}">
    {% endif %}
  {% endblock head %}
</head>

<body>
  {% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">{% block navbar_title %}Libremanuals{% endblock %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ SITEURL }}">Principal
                <span class="sr-only">(actual)</span>
              </a>
            </li>
            {% for p in pages %}
              <li class="nav-item">
                  <a class="nav-link" href="{{ SITEURL }}/{{ p.url }}">{% if p.short_title %}{{ p.short_title }}{% else %}{{ p.title }}{% endif %}</a>
              </li>
            {% endfor %}
            <li class="nav-item"><a class="nav-link" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright © Libremanuals 2017</p>
      </div>
    </footer>
  {% endblock body %}
</body>
</html>
